.navbar-top-links {
    margin-right: 0;

    li {
        display: inline-block;

        &:last-child {
            margin-right: 15px;
        }

        a {
            padding: 15px;
            min-height: 50px;
        }
    }

    .dropdown-menu {
        li {
            display: block;

            a {
                padding: 3px 20px;
                min-height: 0;

                div {
                    white-space: normal;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .dropdown-messages,
    .dropdown-tasks,
    .dropdown-alerts {
        width: 310px;
        min-width: 0;
    }

    .dropdown-messages {
        margin-left: 5px;
    }

    .dropdown-tasks {
        margin-left: -59px;
    }

    .dropdown-alerts {
        margin-left: -123px;
    }

    .dropdown-user {
        right: 0;
        left: auto;
    }
}


.sidebar {

    .sidebar-nav.navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .sidebar-search {
        padding: 15px;
    }


    ul {
        li {
            border-top: 1px solid #e7e7e7;

            i.fa {
                margin-right: 0.75rem;
            }

            a {
                display: flex;
                align-items: center;

                .menu-item {
                    flex-grow: 1;
                }
                .menu-group-toggle {
                    transition: all .15s linear;
                }

                &.active {
                    background-color: #eee;
                }

                &:focus {
                    background-color: transparent;
                }
            }

            &.active {
                .menu-group-toggle {
                    transform: rotate(90deg);
                }

                > a {
                    background-color: transparent;
                }
            }

            &:hover, &.active {
                background-color: transparent;
            }
        }

        ul {
            overflow: hidden;
            border-left: 3px solid #337ab7;
            background-color: #eee;

            li {
                padding-left: 1rem;
            }

            ul {
                border-left: none;
            }
        }
        ul:not(.collapse) {
            height: 0;
        }
    }

    .nav-second-level li,
    .nav-third-level li {
        border-bottom: 0!important;
    }

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 52px;
    }

}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
