
// listing
// ---------------------------------------

.scope-tabs {
    margin-bottom: 1em;
}

.filter-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;

    .form-group {
        margin-right: 0.5em;
    }
}

.listing-footer {
    .pagination {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.listing-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2em;

    .pagination, .listing-counts {
        margin-top: 0;
        margin-bottom: 0;
    }

    & > div {
        margin-right: 2em;

        &:last-child {
            margin-left: auto;
            margin-right: 0;
        }
    }
}


th.column {
    white-space: nowrap;
}

th.column a.sort {
    text-decoration: none;

    .fa {
        color: #aaa;
    }

    &.active {
        .fa {
            color: #000;
        }
    }
}

.records-table.table-striped tbody {

    tr.inactive {
        &:nth-of-type(odd), &:nth-of-type(even) {
            color: #aaa;
        }
    }
}


.column-activate .activate-toggle {
    cursor: pointer;
    padding: 4px;
}

.column-activate .icon-wrapper {
    position: relative;
    width: 1em;
    height: 1em;
    padding-top: 0.5em;
}

.column-activate .loading,
.column-activate .active,
.column-activate .inactive {
    transition: opacity 0.25s 0s;
}

.column-activate .loading,
.column-activate .inactive,
.column-activate .active {
    position: absolute;
    top: 0;
    left: 0;
}

.column-activate .hidden {
    opacity: 0;
}

// Fix to prevent wrapping on button groups in the table
.btn-group.record-actions,
 .column-orderable .btn-group {
    display: flex;
}



// form
// ---------------------------------------

.edit-button-row {
    margin-top: 2em;
}

.translated-form-field-locale-select {
    margin-left: 1em;

    .dropdown-menu {
        min-width: 0 !important;
    }
}

.translated-form-field-container {
    display: flex;
    align-items: flex-start;
}

.tab-container {

    .nav-tabs {
        margin-bottom: 3em;
    }
}

.model-form {
    margin-bottom: 3em;

    fieldset {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .field-group-container {
        display: flex;

        .field-group-child:not(:first-child) {
            margin-left: 1em;
        }
    }

    .control-label.required:after {
        content: "*";
        color: #bbb;
        font-family: 'Glyphicons Halflings';
        font-weight: normal;
        font-size: 11px;
        padding-left: 0.5em;
    }

}

// file uploads

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

// pivot orderable / editable on form
// ---------------------------------------

.row-orderable {
    cursor: move;
}
