
tr .tr-show-on-hover {
    opacity: 0;
    transition: opacity 0.15s;
}

tr:hover .tr-show-on-hover {
    opacity: 1;
}


td.column{

    &.primary-id {
        font-size: 80%;
    }
    
    &.column-activate {
        width: 2rem;
    }

    &.column-date {
        font-style: italic;
        font-size: 80%;
        text-align: center;
    }

    &.column-right {
        text-align: right;
    }

    &.column-center {
        text-align: center;
    }
}

th.column {
    .primary-id {
        text-align: right;
    }
}
